<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.shenzhenlizuosystemapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />

    <application
        android:name=".Common.Base.Myapplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppWelcome">
        <uses-library android:name="com.symbol.emdk" />

        <activity
            android:name=".Common.UI.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Common.UI.MainTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.NewQuitLibraryActivity"
            android:label="@string/OutLibrary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.Quit_NotificationActivity"
            android:label="@string/SelectOutLibrary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.Input_NotificationActivity"
            android:label="@string/SelectInputLibrary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.NewInputLibraryActivity"
            android:label="@string/SelectGetLibrary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.Check_NotificationActivity"
            android:label="@string/SelectSumLibrary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.SettingActivity"
            android:label="@string/Setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.CheckLibraryActivity"
            android:label="@string/Check"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Common.UI.DirectAllot.AllotNotificationActivity"
            android:label="@string/DirectCommit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity
            android:name=".Common.UI.DirectAllot.AllotMainActiivty"
            android:label="@string/DircetAllotNotification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver android:name=".Common.BroadcastReceiver.ReceiveData_Recevier">
            <intent-filter>
                <action android:name="cn.shenzhenlizuosystemapp.action"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>